<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_spaggiari})}|">Show Spaggiari - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${spaggiari}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="spaggiari-updated-field" data-z="2531ce16">
            	      <strong data-th-text="#{label_spaggiari_updated}">updated</strong>
                    <span data-th-text="*{{updated}}">updatedValue</span>
         	        </li>
                  <li id="spaggiari-grade-field" data-z="27aeb456">
            	      <strong data-th-text="#{label_spaggiari_grade}">grade</strong>
                    <span data-th-text="*{{grade}}">gradeValue</span>
         	        </li>
                  <li id="spaggiari-topic-field" data-z="e9226956">
            	      <strong data-th-text="#{label_spaggiari_topic}">topic</strong>
                    <span data-th-text="*{{topic}}">topicValue</span>
         	        </li>
                  <li id="spaggiari-topic_type-field" data-z="be6b62a8">
            	      <strong data-th-text="#{label_spaggiari_topic_type}">topic_type</strong>
                    <span data-th-text="*{{topic_type}}">topic_typeValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
